.pagination {
    display: flex;
    justify-content: center;
}
.page-info {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: middle;
    flex-direction: row;
    padding: 0 0.5rem;
}
