.parallel-reader {
    min-height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.parallel-reader > .content {
    flex-grow: 1;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.chapter-button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #e9ebf1;
}
.chapter-button:hover {
    background-color: #e0e3eb;
}
.chapter-button:active {
    background-color: #d6d9e0;
}
.ion-palette-dark .chapter-button {
    background-color: #4b5563;
}
.ion-palette-dark .chapter-button:hover {
    background-color: #3b3f4a;
}
.ion-palette-dark .chapter-button:active {
    background-color: #2b2f3a;
}

.verseNumber {
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--ion-color-primary);
    top: -0.4rem;
    margin-inline-end: 0.5rem;
    position: relative;
    font-family: sans-serif;
}

.highlightChapterDifference {
    padding: 0.1rem 0.2rem;
    color: var(--ion-color-primary);
    border: 1px solid var(--ion-color-primary);
    border-radius: 1rem;
}

.highlightVerseDifference {
    padding: 0.1rem 0.2rem;
    color: white;
    background: var(--ion-color-primary);
    border-radius: 1rem;
}

.verse-table {
    margin: 0 0.6rem;
}
