.search-result-reference {
    font-size: 0.8em;
    font-weight: bold;
    color: #4b5563;
    background-color: #f3f4f6;
    text-transform: uppercase;
    text-align: center;
}

.ion-palette-dark .search-result-reference {
    background-color: #4b5563;
    color: #f3f4f6;
}

.result-count {
    font-size: 0.7em;
    padding: 0;
    margin: 0;
    color: #4b5563;
    text-transform: uppercase;
    text-align: center;
}

.ion-palette-dark .result-count {
    color: #f3f4f6;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
}

.ion-palette-dark .overlay {
    background-color: rgba(0, 0, 0, 0.6);
}

.fullscreen-modal {
    --width: 100%;
    --height: 100%;
}

.divider {
    background-color: #e2e8f0;
}

.ion-palette-dark .divider {
    background-color: #4b5563;
}

.no-results-icon {
    @apply rounded-full text-gray-400 bg-gray-100 dark:bg-gray-900 text-9xl p-12 flex items-center
}
.ion-palette-dark .no-results-icon {
    @apply text-gray-700 bg-gray-800
}