:root {
	--ion-color-primary: #0078D7;
	--ion-color-primary-rgb: 0,120,215;
	--ion-color-primary-contrast: #fff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #006abd;
	--ion-color-primary-tint: #1a86db;
}

td.verseText {
  padding: 0.5em;
  word-wrap: anywhere;
}

.word {
  cursor: pointer;
}
.word:hover {
  color: #005a9e
}

.target-reference {
	position: absolute;
	color: var(--ion-color-primary);
	font-size: 0.6em;
	bottom: 0;
	transition: all 0.3s ease-in-out;
}

.target-reference.error {
	color: var(--ion-color-danger)
}

.target-reference.ready {
	background-color: transparent;
	color: black;
	font-size: 0.9em;
	opacity: 0;
}