:root {
	--ion-color-primary: #0078D7;
	--ion-color-primary-rgb: 0,120,215;
	--ion-color-primary-contrast: #fff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #006abd;
	--ion-color-primary-tint: #1a86db;
}

td.verseText {
  padding: 0.5em;
}

button.word {
  all: unset;
  cursor: pointer;
}
button.word:hover {
  color: #005a9e
}